<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body>
        <ul id="app">
            <!-- <li v-for="(a,index) in arr">index:{{index}}这是第{{a.id}}个,{{a.title}}</li> -->
            <li v-for="(a,index) of arr">index:{{index}}这是第{{a.id}}个,{{a.title}}</li>

            <!-- 遍历对象 -->
            <li v-for="(value,name,index) of obj">{{index}},{{name}}:{{value}}</li>
        </ul>
        <script src="../vue.js"></script>
        <script>
            const vm = new Vue({
                el: '#app',
                data: {
                    arr: [{
                        id: 1,
                        title: '学习html'
                    }, {
                        id: 2,
                        title: '学习css'
                    }, {
                        id: 3,
                        title: '学习javascript'
                    }],
                    obj: {
                        title: 'hello',
                        author: 'Inlve'
                    }
                }
            })

        </script>
    </body>

</html>
